/* Readex Pro && Cormorant Unicase
    Fonts and custom properties*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Readex+Pro:wght@300;400;600;700&display=swap');

:root {
    --main-bg-color: #CAD2C5;
    --secondary-bg-color: #52796F;
    --light-color: #84A98C;
    --dark-color: #2F3E46;
    --l-dark-color: #354F52;
}

/* 
#CAD2C5
#84A98C
#52796F
#354F52
#2F3E46 
https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46
*/

/* General Styling and properties */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Readex Pro", "Cormorant Unicase";
    font-size: 16px;
    font-weight: 300;
    position: relative;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.card {
    background-color: rgba(132, 169, 140, 0.2);
    border-radius: 15px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;
    display: flex;
    justify-items: center;
    align-items: center;
    user-select: none;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(132, 169, 140, 0.6);
    transform: scale(1.1);
}

/* Specific Styling */

#header {
    height: 10vh;
}

#header .title {
    height: 100%;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--main-bg-color);
}

#header .title.flex {
    justify-content: center;
    align-items: center;
}

#header .title .epicTitlePart {
    font-family: "Cormorant Unicase";
}

/* Main Window */
#mainWindow {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    user-select: none;
}

#mainWindow #options,
#mainWindow #view {
    width: 50%;
    height: 100%;
}

#mainWindow #options {
    background-color: var(--main-bg-color);
    color: var(--dark-color);
    font-family: "Cormorant Unicase";
    font-weight: bolder;
    font-size: 1.5rem;
}

#mainWindow #options > .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

#mainWindow #options .optionBar.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#mainWindow #options .optionBar .card img {
    width: 100%;
    height: auto;
}

#mainWindow #options > * {
    padding: 1rem;
}


#mainWindow #view {
    background-image: url("./img/viewBackground.jpeg");
    background-position-y: center;
    background-position-x: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem 0;
}

#mainWindow #view.grid {
    grid-template-rows: 3rem repeat(3,1fr) 3rem;
}

/* Heads */

.royalHead {
    background-image: url("./img/royal\ head-01.png");
}

.dripHead {
    background-image: url("./img/drip\ head-01.png");
}

.ratniHead {
    background-image: url("./img/ratni\ head-01.png");
}

/* Torsos */

.royalTorso {
    background-image: url("./img/royal\ torso-01.png");
}

.dripTorso {
    background-image: url("./img/drip\ torso-01.png");
}

.ratniTorso {
    background-image: url("./img/ratni\ torso-01.png");
}

/* Legs */

.royalLegs {
    background-image: url("./img/royal\ legs-01.png");
}

.dripLegs {
    background-image: url("./img/drip\ legs-01.png");
}

.ratniLegs {
    background-image: url("./img/ratni\ legs-01.png");
}

#mainWindow #view #headView,
#mainWindow #view #torsoView,
#mainWindow #view #legsView {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}